:root {
    --img-size: 100px;
}

img {
    height: var(--img-size);
}

td {
    height: var(--img-size);
    border: 1px solid black;
}

header div {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    header div {
        display: block;
    }
}